<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">3</div>
      <h1>Préstamos</h1>
      <p>¿Cuál es el préstamo que más se ajusta a tus necesidades?</p>
      <p>No postergues más tus sueños y hazlos realidad ahora utilizando los  préstamos que te ofrece BBVA Continental. Puedes adquirir préstamo  personal, vehicular, hipotecario y, si deseas, viaja a cualquier parte del  mundo, compra un auto nuevo, construye tu casa propia o compra el  departamento soñado.</p>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
